doctype html
html(lang='en')
    head
        title Michael Jackson
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet' href='/stylesheets/style.css')
        
    body
        div(class='wrapper')
            header
                div
                    button#home_button Michael Jackson
            nav
                div 
                    button.nav_menu Biography
                div 
                    button.nav_menu Photographs
                div 
                    button.nav_menu Discography
                div 
                    button.nav_menu Links
                div 
                    button.nav_menu Manage
            aside
                #side_menu_container 
                    #bio 
                        div
                            button Early life
                        div 
                            button Death
                    #photos
                        div     
                            button red jacket
                        div 
                            button with hat
                    #discography
                        div     
                            button disc 1
                        div 
                            button disc 2
                    #links
                        div     
                            button link 1
                        div 
                            button link 2
                    #manage
                        div     
                            button login
                        div 
                            button logout
                        div     
                            button manage discography
                        div 
                            button manage links
            main

            footer
                div 

        script(type='text/javascript' src='../javascripts/nav_menu.js')
        script(type='text/javascript' src='../javascripts/side_menu.js')
